<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kl4000">

  <xacro:macro name="kuka_kl4000_rail" params="ext_axis_name prefix">
    <!-- LINKS -->
    <!-- rail link -->
    <link name="${prefix}rail">
      <collision>
        <geometry>
          <mesh filename="file://$(find create_kr240_robot_description)/meshes/kl4000/collision/KL4000_Rail_Collision.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="6.87109208044536E-31" iyz="0.0" izz="108.5602"/>
        <mass value="8.506E2"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </inertial>
      <visual>
        <geometry>
            <mesh filename="file://$(find create_kr240_robot_description)/meshes/kl4000/visual/KL4000_Rail.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <!-- link Carriage -->
    <link name="${prefix}carriage">
      <collision>
        <geometry>
          <mesh filename="file://$(find create_kr240_robot_description)/meshes/kl4000/collision/KL4000_Carriage_Collision.stl"/>
        </geometry>
        <origin rpy="0.0 0.0 3.14159" xyz="0.0 0.0 0.0"/>
      </collision>
      <inertial>
        <inertia ixx="14.5413" ixy="0.0" ixz="0.0" iyy="147.936" iyz="0.0" izz="151.0383"/>
        <mass value="4.476E2"/>
        <origin rpy="0.0 0.0 3.14159" xyz="0.0 0.0 0.0"/>
      </inertial>
      <visual>
        <geometry>
            <mesh filename="file://$(find create_kr240_robot_description)/meshes/kl4000/visual/KL4000_Carriage.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 3.14159" xyz="0.0 0.0 0.0"/>
      </visual>
    </link>
    <!-- END LINKS -->

    <!-- JOINTS -->
    <!-- joint rail-carriage -->
    <joint name="${prefix}joint_${ext_axis_name}" type="prismatic">
      <axis xyz="1.0 0.0 0.0"/>
      <child link="${prefix}carriage"/>
      <limit effort="1.44E4" lower="-5.0" upper="0.1" velocity="0.5"/>
      <origin rpy="0.0 0.0 3.14159" xyz="0.1 0.0 0.689"/>
      <parent link="${prefix}rail"/>
    </joint>
    <!-- END JOINTS -->

    <link name="${prefix}mount"/>
    <joint name="${prefix}carriage-mount" type="fixed">
      <child link="${prefix}mount"/>
      <origin rpy="0.0 0.0 3.14159" xyz="0.0 0.0 0.0"/>
      <parent link="${prefix}carriage"/>
    </joint>
  </xacro:macro>
</robot>
